In [1]:
#import necessary libraries
import pandas as pd
import io
import time

#import plotty
import warnings
warnings.filterwarnings('ignore')

In [2]:
#uploading csv file
from google.colab import files
 
 
uploaded = files.upload()

Saving Equity Data (1 Jan 2020).csv to Equity Data (1 Jan 2020).csv

In [3]:
#read the csv file
df1 = pd.read_csv(io.BytesIO(uploaded['Equity Data (1 Jan 2020).csv']))
print(df1)

             DATE1      SYMBOL   PREV_CLOSE   OPEN_PRICE   HIGH_PRICE  \
0       11-02-2022  NETFLTGILT        22.40        22.02        22.48
1       11-02-2022  NETFMID150       116.02       119.50       119.50
2       11-02-2022  NETFNIF100       183.49       178.50       184.98
3       11-02-2022  NETFDIVOPP        45.63        46.25        46.25
4       11-02-2022  NETFGILT5Y        49.66        49.66        49.82
...            ...         ...          ...          ...          ...
809334  01-01-2020  ORTINLABSS         9.90        10.15        10.15
809335  01-01-2020  ORISSAMINE      1281.50      1270.00      1288.00
809336  01-01-2020   OSWALAGRO         4.95         5.15         5.40
809337  01-01-2020     PAISALO       433.00       429.95       438.00
809338  01-01-2020     PAGEIND     23393.10     23350.00     23799.00

         LOW_PRICE   LAST_PRICE   CLOSE_PRICE   AVG_PRICE   TTL_TRD_QNTY  \
0            22.02        22.25         22.27       22.25          16697
1           113.61       114.10        113.95      114.68         224822
2           178.50       182.05        182.22      182.07           2354
3            45.07        45.33         45.09       45.40           1239
4            49.47        49.82         49.79       49.72          82821
...            ...          ...           ...         ...            ...
809334        9.80         9.85          9.80        9.84           5041
809335     1259.35      1264.00       1265.60     1268.53           8230
809336        5.00         5.20          5.30        5.18          27820
809337      427.45       429.95        428.85      432.68          37838
809338    23241.10     23600.00      23602.15    23601.26          16716

         TURNOVER_LACS   NO_OF_TRADES   DELIV_QTY   DELIV_PER
0                 3.72             83     12968.0       77.67
1               257.82           1780    200777.0       89.30
2                 4.29            135      2140.0       90.91
3                 0.56             86      1122.0       90.56
4                41.18            322     74512.0       89.97
...                ...            ...         ...         ...
809334            0.50             26      4283.0       84.96
809335          104.40            626      4091.0       49.71
809336            1.44            143     17849.0       64.16
809337          163.72            505      8873.0       23.45
809338         3945.19           6464      2964.0       17.73

[809339 rows x 14 columns]

In [4]:
#split the date column into three parts day, month and year
df1[' DATE1']=pd.to_datetime(df1[' DATE1'])
df1['Month']=df1[' DATE1'].apply(lambda x:x.month)
df1['Day']=df1[' DATE1'].apply(lambda x:x.day)
df1['Years']=df1[' DATE1'].apply(lambda x:x.year)

In [5]:
#drop the uncessary column
df1.drop(columns=" DATE1", inplace = True)

In [6]:
#calculate the percentage change of close price and prev_price 
df1["change"]=(((df1[" CLOSE_PRICE"]-df1[" PREV_CLOSE"])/df1[" PREV_CLOSE"])*100)

In [7]:
# Transfer some columns into new dataframe df2
df2 = df1[['SYMBOL','change','Day','Month','Years']]

In [8]:
df2

            SYMBOL    change  Day  Month  Years
0       NETFLTGILT -0.580357    2     11   2022
1       NETFMID150 -1.784175    2     11   2022
2       NETFNIF100 -0.692136    2     11   2022
3       NETFDIVOPP -1.183432    2     11   2022
4       NETFGILT5Y  0.261780    2     11   2022
...            ...       ...  ...    ...    ...
809334  ORTINLABSS -1.010101    1      1   2020
809335  ORISSAMINE -1.240734    1      1   2020
809336   OSWALAGRO  7.070707    1      1   2020
809337     PAISALO -0.958430    1      1   2020
809338     PAGEIND  0.893640    1      1   2020

[809339 rows x 5 columns]

In [9]:
#group by whole data based on 'Month'
a = df2.groupby('Month')

In [10]:
#To iterate these groups of months one by one
for month, month_df in a:
  print(month)
  print(month_df)

1
            SYMBOL    change  Day  Month  Years
13115    NITINSPIN  1.088595    2      1   2022
13116        NITCO  3.889789    2      1   2022
13117     NILKAMAL -1.505581    2      1   2022
13118   NIPPOBATRY  1.304529    2      1   2022
13119        NIRAJ -0.607903    2      1   2022
...            ...       ...  ...    ...    ...
809334  ORTINLABSS -1.010101    1      1   2020
809335  ORISSAMINE -1.240734    1      1   2020
809336   OSWALAGRO  7.070707    1      1   2020
809337     PAISALO -0.958430    1      1   2020
809338     PAGEIND  0.893640    1      1   2020

[88531 rows x 5 columns]
2
            SYMBOL    change  Day  Month  Years
11477   ZENITHEXPO  1.346046    2      2   2022
11478     LOTUSEYE  4.542125    2      2   2022
11479           LT -0.391861    2      2   2022
11480   LOKESHMACH  7.952146    2      2   2022
11481    LIQUIDETF  0.000000    2      2   2022
...            ...       ...  ...    ...    ...
807839      GVKPIL -5.000000    1      2   2020
807840         HAL  0.691591    1      2   2020
807841     GULPOLY  3.753027    1      2   2020
807842  GULFOILLUB -0.806551    1      2   2020
807843   GULFPETRO -2.792141    1      2   2020

[56490 rows x 5 columns]
3
            SYMBOL    change  Day  Month  Years
9838         SUNTV -0.329330    2      3   2022
9839    SUPERHOUSE  0.494816    2      3   2022
9840      SUPRAJIT -1.048951    2      3   2022
9841      SUPPETRO -0.021336    2      3   2022
9842       SUNTECK  2.151580    2      3   2022
...            ...       ...  ...    ...    ...
806358    MAN50ETF -0.538802    1      3   2020
806359    MANAKSIA  2.205882    1      3   2020
806360  MANAPPURAM -1.034676    1      3   2020
806361  MANALIPETC -0.753769    1      3   2020
806362  MANAKSTEEL  5.426357    1      3   2020

[71273 rows x 5 columns]
4
            SYMBOL    change  Day  Month  Years
8199           OIL -2.681661    2      4   2022
8200    OILCOUNTUB  1.117318    2      4   2022
8201          OCCL -1.073869    2      4   2022
8202          OFSS -2.372521    2      4   2022
8203       OLECTRA -1.715969    2      4   2022
...            ...       ...  ...    ...    ...
772386     ATLANTA -2.586207    2      4   2020
772387        ATUL  0.067230    2      4   2020
772388        ATFL  0.677497    2      4   2020
772389    ASTRAZEN -2.774058    2      4   2020
772390      ASTRON  0.887199    2      4   2020

[62561 rows x 5 columns]
5
            SYMBOL    change  Day  Month  Years
42938    ORIENTPPR  0.462963    1      5   2022
42939   ORISSAMINE -2.268721    1      5   2022
42940     ORTINLAB -0.910470    1      5   2022
42941   ORIENTELEC -0.781250    1      5   2022
42942    ORIENTHOT -2.544248    1      5   2022
...            ...       ...  ...    ...    ...
770925  ZENSARTECH -0.821668    2      5   2020
770926    ZEELEARN -4.885057    2      5   2020
770927        ZOTA -0.055850    2      5   2020
770928   ZODJRDMKJ -2.291326    2      5   2020
770929  ZODIACLOTH  0.596591    2      5   2020

[60892 rows x 5 columns]
6
            SYMBOL     change  Day  Month  Years
41259         ZEEL   1.723868    1      6   2022
41260        YUKEN   0.772167    1      6   2022
41261     ZEEMEDIA   4.745763    1      6   2022
41262     ZEELEARN  19.877676    1      6   2022
41263      YESBANK  -1.724138    1      6   2022
...            ...        ...  ...    ...    ...
804872     RUCHIRA  -1.162080    1      6   2020
804873    RSYSTEMS   1.118568    1      6   2020
804874        RUPA  -5.786350    1      6   2020
804875  RSSOFTWARE  -3.488372    1      6   2020
804876        RSWM  -3.832924    1      6   2020

[62594 rows x 5 columns]
7
            SYMBOL     change  Day  Month  Years
6558     MAWANASUG  13.038417    2      7   2022
6559     MAXHEALTH  -2.578397    2      7   2022
6560        MAXIND   0.582524    2      7   2022
6561     MASPTOP50  -0.309811    2      7   2022
6562        MASTEK  -0.612211    2      7   2022
...            ...        ...  ...    ...    ...
803380  WEBELSOLAR   9.815951    1      7   2020
803381   WATERBASE   3.521643    1      7   2020
803382   WEIZFOREX   9.990846    1      7   2020
803383     WELCORP   1.011804    1      7   2020
803384  WEIZMANIND   9.882747    1      7   2020

[69257 rows x 5 columns]
8
            SYMBOL    change  Day  Month  Years
4916     KPIGLOBAL -3.877204    2      8   2022
4917         VMART -0.158086    2      8   2022
4918    VLSFINANCE -1.188119    2      8   2022
4919        VOLTAS -2.078909    2      8   2022
4920       VOLTAMP  0.775927    2      8   2022
...            ...       ...  ...    ...    ...
801893     PAGEIND  0.002409    1      8   2020
801894  PALASHSECU -5.616225    1      8   2020
801895  PANACEABIO  0.153022    1      8   2020
801896   PALREDTEC  0.295858    1      8   2020
801897   20MICRONS -1.506024    1      8   2020

[67220 rows x 5 columns]
9
            SYMBOL    change  Day  Month  Years
3274      BHAGERIA -0.120773    2      9   2022
3275      BHAGCHEM -0.560249    2      9   2022
3276    BHAGYAPROP -0.434153    2      9   2022
3277     BHAGYANGR  0.884086    2      9   2022
3278     BGRENERGY -1.462622    2      9   2022
...            ...       ...  ...    ...    ...
800403    GREENLAM  1.537969    1      9   2020
800404  GREAVESCOT  1.531170    1      9   2020
800405  GREENPANEL -2.185792    1      9   2020
800406   GRINDWELL  1.060850    1      9   2020
800407    GREENPLY -0.589971    1      9   2020

[69408 rows x 5 columns]
10
            SYMBOL     change  Day  Month  Years
1637          GNFC   4.437328    2     10   2022
1638     GOACARBON   1.241292    2     10   2022
1639      GOCLCORP  -4.946996    2     10   2022
1640      GOCOLORS  -1.088502    2     10   2022
1641    GODFRYPHLP  -0.415993    2     10   2022
...            ...        ...  ...    ...    ...
798913  ORTINLABSS  -0.510204    1     10   2020
798914  ORISSAMINE  -1.174080    1     10   2020
798915   OSWALAGRO  10.434783    1     10   2020
798916     PAISALO  -0.759523    1     10   2020
798917     PAGEIND   0.777240    1     10   2020

[68056 rows x 5 columns]
11
            SYMBOL    change  Day  Month  Years
0       NETFLTGILT -0.580357    2     11   2022
1       NETFMID150 -1.784175    2     11   2022
2       NETFNIF100 -0.692136    2     11   2022
3       NETFDIVOPP -1.183432    2     11   2022
4       NETFGILT5Y  0.261780    2     11   2022
...            ...       ...  ...    ...    ...
765064   ORIENTLTD -0.055525    2     11   2020
765065   ORIENTHOT -0.673401    2     11   2020
765066   ORIENTPPR -1.479915    2     11   2020
765067  ORISSAMINE  5.044251    2     11   2020
765068   ORIENTREF  2.491103    2     11   2020

[62362 rows x 5 columns]
12
            SYMBOL    change  Day  Month  Years
34524     GLENMARK -0.922811    1     12   2022
34525        GLOBE -0.701754    1     12   2022
34526       GLOBAL -5.094208    1     12   2022
34527    GICHSGFIN  2.291534    1     12   2022
34528       GMBREW  2.985795    1     12   2022
...            ...       ...  ...    ...    ...
763598   ORIENTLTD -1.222222    2     12   2020
763599   ORIENTHOT -2.711864    2     12   2020
763600   ORIENTPPR -1.502146    2     12   2020
763601  ORISSAMINE -4.226494    2     12   2020
763602   ORIENTREF -4.552469    2     12   2020

[70695 rows x 5 columns]

In [11]:
#check the maximum performing stock per month
a.max()

          SYMBOL      change  Day  Years
Month
1      ZYDUSWELL   72.000000   31   2022
2      ZYDUSWELL  109.204698   28   2022
3      ZYDUSWELL  100.000000   31   2022
4      ZYDUSWELL  100.000000   30   2022
5      ZYDUSWELL   29.601276   31   2022
6      ZYDUSWELL   50.000000   30   2022
7      ZYDUSWELL  113.499538   31   2022
8      ZYDUSWELL   37.222222   31   2022
9      ZYDUSWELL  123.463855   30   2022
10     ZYDUSWELL   96.071111   30   2022
11     ZYDUSWELL  148.096447   30   2022
12     ZYDUSWELL  125.000000   31   2022

In [12]:
#check the minimum performing stock per month
a.min()

          SYMBOL     change  Day  Years
Month
1      20MICRONS -86.041667    1   2020
2      20MICRONS -99.014616    1   2020
3      20MICRONS -98.999208    1   2020
4      20MICRONS -79.844961    1   2020
5      20MICRONS -47.938170    1   2020
6      20MICRONS -90.068136    1   2020
7      20MICRONS -98.801264    1   2020
8      20MICRONS -89.971386    1   2020
9      20MICRONS -90.491764    1   2020
10     20MICRONS -90.050432    1   2020
11     20MICRONS -98.996240    1   2020
12     20MICRONS -98.762238    1   2020